<h2><%= @destination.name %></h2>
<p>Featured Post: <%= link_to @destination.featured_post.title, @destination.featured_post%></p>
<p>Average Blogger Age: <%= @destination.average_age %></p>

<p>Most Recent Posts:
<% @destination.five_recent.each do |post| %>
   <div><%= post.title %></div>
<% end %> </p>